.alegreya-sans-content {
    margin-top: 0.75em;
    font-family: 'Alegreya Sans', sans-serif;
}

.alegreya-sans-italic {
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
}

.cards {
    position: relative;
    width: 100%;
}

.cards div .card-column:first-child {
    min-width: 150px;
}

#experience-container {
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.card-column {
    position: relative;
    z-index: 10;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

.flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
}

.flex4 {
    -webkit-box-flex: 4;
    -webkit-flex: 4 0 0;
        -ms-flex: 4 0 0;
            flex: 4 0 0;
}

.card {
    margin: 5px;
}

.card-title {
    margin: 0.5em;
    height: 3em;
    width: 3em;
    border-radius: 2em;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;

    background-color: black;
}

.card-content {
    position: relative;
    z-index: 10;

    background-color: #111111;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
}

.gray-top-ellipse {
    background-color: #252525;
    border-radius: 0 0 0 100%;
}

.blue-bottom-ellipse {
    background-color: #1b396d;
}
