/*large screens*/
@media (min-width: 64.063em){
    #cover {
        background: url('pics/prof_l.jpg') bottom center no-repeat;
    }

    #hello-text {
        font-size: 3.5em;
        padding: 2em;
    }
}
/*medium screens*/
@media (min-width: 40.063em) and (max-width: 64em) {
    #cover {
        background: url('pics/prof_m.jpg') bottom center no-repeat;
    }

    #hello-text {
        font-size: 3em;
        padding: 2em;
    }
}
/*small screens*/
@media (max-width: 40em){
    #cover {
        background: url('pics/prof_s.jpg') bottom center no-repeat;
    }

    #hello-text {
        font-size: 2em;
        padding: 2em;
    }
}

#cover {
    height: calc(100vh - 53px);
    background-color: #492f5f;
    margin: 0;
    overflow: hidden;
    transition: background-position 1s ease-in-out;
}

#cover:active {
    background-position: 100vw bottom;
}

#cover:active #hello-text {
    left: -100vw;
}

#hello-text {
    position: absolute;
    left: 0;
    transition: 1s ease-in-out;
}

.yellow-text {
    color: #fff67a;
}

.content-wrap {
    height: 100%;
    padding: 10px;
}
